{% extends "base.html.twig" %}

{% block title %}
	{{ titre_doc }}
{% endblock %}

{% block content %}
	<h1 class="text-center my-4">{{ titre_page }}</h1>

	<div class="mx-5 px-5">
		<form id="authForm" class="mx-auto w-50" action="{{ base_url }}login" method="POST">

			<label for="email" class="form-label">Email :</label><br>
			<input type="email" id="email" name="email" class="form-control" required><br><br>

			<label for="password" class="form-label">Mot de passe :</label><br>
			<input type="password" id="password" name="password" class="form-control" required><br><br>

			<input class="submit-btn btn btn-primary mb-5" type="submit" value="Envoyer">
		</form>
	</div>
{% endblock %}
